<div>
  <img src="../assets/image/bg_image.jpg" id="backgroundImage"/>
  <div class="loginBlock">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [formControl]="emailFormControl"
               [errorStateMatcher]="matcher" #email>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [formControl]="passwordFormControl"
               [errorStateMatcher]="matcher" type="password" #password>
        <mat-error *ngIf="passwordFormControl.hasError('email') && !passwordFormControl.hasError('required')">
          Please enter a password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary">Sign Up</button>  <button class="btn" mat-raised-button color="primary" (click)="onLog(email,password)">Log In</button>
  </div>
</div> 

